<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='auth.css')}}">
    <link rel="icon" href="{{url_for('static', filename='favicon.png')}}" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Forgot Password - WINC Student Council Elections 2024</title>

</head>

<body>
    
    <h2 class="auth-title">Forgot Password</h2>
    {% extends "base.html" %}
    {% block content %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div style="color: red; font-size: 20px;">{{ messages[0] }}</div>
    <br>
    {% endif %}
    {% endwith %}
    <form class="auth-form" method="post" action="{{ url_for('auth.forgot_password') }}">
        <label for="username">Enter your username</label>
        <br>
        <input type="text" name="username" id="username" required>
        <br>
        <button type="submit">Send Recovery Code</button>
    </form>
    
    {% endblock %}
</body>

</html>